
<h1>Choose a Legislator</h1>
	<%= form_for @legislator do |f| %>
		<%= f.label :lastname %>
		<%= f.text_field :lastname%>
	<%= f.submit :pick_legislator %>
	<% end %>
	
	<%= form_for @legislator do |f| %>
	<%= f.label :lastname %>
	<%= f.text_field :lastname, data: {autocomplete_source: legislator_object_path }, :class => "legislator_picker"%>
	<%= f.submit :pick_legislator %>
	<% end %>
	
	<%= form_tag legislators_path do %>
	<%= text_field_tag :lastname, data: {autocomplete_source: legislator_object_path }, :class => "legislator_picker"%>
	<%= submit_tag :pick_legislator %>
	<% end %>
	
	<p>
	  <%= form_tag legislators_path do %>
	  <%= text_field_tag :legislator_lastname, { :size => 15 }, { :url => legislator_object_path(:js), :method => :get, :param_name => 'search' } %>
	  <%= submit_tag %>
	  <% end %>
	</p>
	
	<%= form_for([@team, @position]) do |f| %>
	<%= f.label :lastname %>
	<%= f.text_field :lastname, data: {autocomplete_source: rep_object_path }, :class => "rep_picker" %>
	<%= f.submit :add_member %>
	<% end %>
	
	
	<p>
	  <%= f.label :category_name %>
	  <%= text_field_with_auto_complete :product, :category_name, { :size => 15 }, { :url => formatted_categories_path(:js), :method => :get, :param_name => 'search' } %>
	</p>
	
	<%= form_tag legislators_path do %>
		<%= text_field_tag :legislator_lastname, data: {autocomplete_source: legislator_object_path }, :class => "legislator_picker" %>
		<%= submit_tag :pick_legislator %>
		<% end %>
		
		<p>
			<%= form_tag legislators_path do %>
				<%= text_field_tag :legislator_lastname, data: { autocomplete_source: legislator_object_path }, :class => "legislator_picker" %>
				<%= submit_tag :pick_legislator %>
			<% end %>
		</p>