<h1><%=@legislator.firstname%> <%= @legislator.lastname %></h1>

<table class="table">
	<tr>
		<td>Party</td>
		<td><%= @legislator.party%></td>
	</tr>
	<tr>
		<td>State</td>
		<td><%= @legislator.state %></td>
	</tr>
</table>

<table class="table">
	<th>In State Contributions</th>
	<tr>
		<td>Number of Contributions</td>
		<td><%= in_state_count %></td>
	</tr>
	<tr>
		<td>Total Amount of Contribution</td>
		<td><%= in_state_amount %></td>
	</tr>
</table>

<table class="table">
	<th>Out of State Contributions</th>
	<tr>
		<td>Number of Contributions</td>
		<td><%= out_state_count %></td>
	</tr>
	<tr>
		<td>Total Amount of Contribution</td>
		<td><%= out_state_amount %></td>
	</tr>
</table>
